.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .list-row {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  text-align: center !important;
} */
